.our-mission-and-values {
  background: url(../img/about-company/background-fisrt.png) 0 0 / cover
    no-repeat;
  width: 100%;
  height: fit-content;
}
.our-mission-and-values__content {
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.our-mission-and-values__images {
  margin-bottom: 20px;
}
@media (min-width: 1000px) {
  .our-mission-and-values__content {
    padding-top: 150px;
  }
}
.our-mission__text img {
  width: 24px;
  height: 15px;
}
.our-mission-and-values__images {
  width: 100%;
  position: relative;
}
@media (min-width: 530px) {
    .our-mission-and-values__content {
        padding-top: 80px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
      }
  .our-mission-and-values__images {
    width: 50%;
    position: relative;
  }
  .our-mission-and-values__content {
    display: flex;
    flex-direction: row;
  }
  .our-mission__text {
    width: 50%;
  }
}
.our-mission-and-values__first-img {
  display: block;
  max-width: 70%;
  border: 5px solid var(--title-text-color);
}
.our-mission-and-values__second-img {
  position: absolute;
  max-width: 40%;
  height: auto;
  top: 17%;
  left: 55%;
  border: 5px solid var(--title-text-color);
}
.about_company h2 {
  display: flex;
  align-items: center;
  text-transform: uppercase;
}
.about_company h2 span {
  position: relative;
  padding-left: 30px;
  font-size: 12px;
  color: var(--title-text-color);
}
.about_company h2 span::before {
  position: absolute;
  content: "";
  width: 20px;
  height: 15px;
  top: 0;
  left: 0;
  background: url(../img/about-company/decor.png) 0 0 / contain no-repeat;
}
.about_company h3 {
    font-size: 24px;
}
.our-mission__text p {
font-style: italic;
text-align: justify;
}
.our-values__carousel {
        position: relative;
    width: 100%;
    overflow: hidden;

}
.our-values__carousel__inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex: 0 0 33.333%;
}

.our-values__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5px 5px;
    flex: 0 0 100%;
}
@media (min-width: 768px) {
    .our-values__item {
        flex: 0 0 50%;
    }
}

@media (min-width: 1024px) {
    .our-values__item {
        flex: 0 0 33.33%;
    }
}
.our-values__item img{
    width: 35px;
    height: 35px;
}
.carousel__button--prev {
    position: absolute;
    top: 40%;
    left: 0;
    transform: rotate(180deg);
    background: none;
    border: none;
    cursor: pointer;
    background: #fff;
}
.carousel__button--next {
    position: absolute;
    top: 40%;
    right: 0;
    background: none;
    border: none;
    cursor: pointer;
    background: #fff;
}
