@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Caveat:wght@400..700&family=Comforter+Brush&family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Cormorant+SC:wght@300;400;500;600;700&family=Lora:ital,wght@0,400..700;1,400..700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Neucha&family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&family=Poiret+One&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,700&family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap');
.overflow-hidden {
  overflow: hidden;
}
body {
  width: 100%;
  overflow-x: hidden;
  font-family: "Cormorant Garamond", serif;
  font-weight: 400;
  font-size: 18px;
}
:root {
  --dark-text-color: rgb (255, 255, 255);
  --light-text-color: #fff;
  --accent-text-color: #eea029;
  --title-text-color: #7e7e7e;
  --our-values-text-color: rgb(133, 133, 133);
  --dark-text-color: rgb(59, 59, 59);
  --light-gradient: linear-gradient(0deg, rgb(247, 247, 245) 0%,  rgb(255, 255, 255) 100%);
  --submenu-background-color: rgb(247, 247, 245);
  --our-team-background: #02776E;
}
.wrapper {
  max-width: 80%;
  margin: 0px auto;
  transition: all 0.3s ease-in-out;
}
.wrapper.nav-visible {
  opacity: 0;
  transition: all 0.3s ease-in-out;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style: none;
}
img {
  margin: 0;
  padding: 0;
}
h1, h2, h3 {
  font-weight: 200;
  font-size: 20px;
}


/* BUTTONS /*
/*BLACK*/


.btn-wrapper a{
  display: block;
  width: fit-content;
  font-size: 15px;
  font-family: "Albert Sans", sans-serif;
  padding:7px 20px ;
  text-decoration: none;
  color: var(--dark-text-color);
  border: 1px solid var(--dark-text-color);
  border-radius: 24px;
  letter-spacing: 2px;
  text-align: center;
  position: relative;
  transition: all .3s;
}

.btn-wrapper a span{
  position: relative;
  z-index: 2;
}

.btn-wrapper a:after{
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: var(--dark-text-color);
  transition: all .3s;
  border-radius: 24px;
  opacity: 0;
}

.btn-wrapper a:hover{
  color: var(--light-text-color);
}

.btn-wrapper a:hover:after{
  width: 100%;
  opacity: 1;
}



/*LIGHT*/
 .btn-wrapper-light a{
  display: block;
  width: fit-content;
  font-size: 15px;
  font-family: "Albert Sans", sans-serif;
  padding:7px 20px ;
  text-decoration: none;
  color: var(--light-text-color);
  border: 1px solid var(--light-text-color);
  border-radius: 24px;
  letter-spacing: 2px;
  text-align: center;
  position: relative;
  transition: all .3s;
}

.btn-wrapper-light a span{
  position: relative;
  z-index: 2;
}

.btn-wrapper-light a:after{
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: var(--light-text-color);
  transition: all .3s;
  border-radius: 24px;
  opacity: 0;
}

.btn-wrapper-light a:hover{
  color: var(--dark-text-color);
}

.btn-wrapper-light a:hover:after{
  width: 100%;
  opacity: 1;
}