.header__nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: black;
}
.header__nav-wrapper {
  position: relative;
  width: 80%;
  height: 60px;
  margin: auto;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 1000px) {
  .header__nav-wrapper {
    position: relative;
    width: 80%;
    height: 60px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .header__nav-logo a {
    display: block;
    width: 120px;
    height: auto;
  }
}
.header__nav-menu a {
  color: var(--light-text-color);
}
.menu-btn {
  display: block;
  width: 100%;
  height: auto;
  padding: 19px 8px;
  margin-left: auto;
  cursor: pointer;
  transition: opacity 0.5s ease;
}
@media (min-width: 1000px) {
  .menu-btn {
    display: none;
  }
}
.menu-burger {
  display: block;
  width: 24px;
  height: 2px;
  position: relative;
  background: var(--light-text-color);
  cursor: pointer;
  transition: 0.2s ease-out;
}
.menu-burger::before,
.menu-burger::after {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  background: var(--light-text-color);
  transition: all 0.2s ease-out;
}
.menu-burger:before {
  top: 7px;
}
.menu-burger::after {
  top: -7px;
}
.menu-burger.nav-visible {
  background: transparent;
}
.menu-burger.nav-visible:before {
  top: 0px;
  transform: rotate(-45deg);
}
.menu-burger.nav-visible:after {
  top: 0px;
  transform: rotate(45deg);
}
.header__nav-menu {
  left: -100vh;
  top: 60px;
  transition: all 0.3s ease-in-out;
  position: absolute;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.header__nav-menu.nav-visible {
  left: -20%;
  top: 60px;
  transition: all 0.3s ease-in-out;
  position: absolute;
  margin: auto;
  width: 140%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  z-index: 1;
  background-color: black;
}
.header__nav-list li {
  margin: 25px 0px;
}
.header__sotial-media-item {
  margin: 20px 10px;
}
.header__nav-list {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
}
.header__nav-list li {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
}
@media (min-width: 1000px) {
  .header__nav-menu {
    width: 80%;
    position: static;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    order: 2;
    height: auto;
  }
  .header__nav-list {
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    color: wheat;
  }

  .nav-list__item a::after {
    content: "";
    bottom: -7px;
    width: 0%;
    height: 100%;
    display: block;
    position: absolute;
    border-bottom: 2px solid var(--light-text-color);
    transition: all 0.2s ease-out;
  }
  .nav-list__item a:hover::after {
    content: "";
    bottom: -7px;
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    border-bottom: 2px solid var(--light-text-color);
    transition: all 0.2s ease-out;
  }
  .menu__parent-submenu::after {
    content: "";
    bottom: -7px;
    width: 0%;
    height: 100%;
    display: block;
    position: absolute;
    border-bottom: 2px solid var(--light-text-color);
    transition: all 0.2s ease-out;
  }
  .menu__parent-submenu:hover::after {
    content: "";
    bottom: -7px;
    width: calc(100% - 27px);
    height: 100%;
    display: block;
    position: absolute;
    border-bottom: 2px solid var(--light-text-color);
    transition: all 0.2s ease-out;
  }
  .submenu__about-company {
    display: block;
    height: 0px;
    overflow: hidden;
    transition: height 0.2s ease-out;
  }
}
.header__nav-menu a {
  position: relative;
  color: var(--light-text-color);
  text-decoration: none;
  transition: 0.2s ease-out;
}

.header__nav-logo a {
  display: block;
  width: 100px;
}
.header__nav-logo img {
  width: 100%;
}
.header__sotial-media img {
  width: 25px;
  height: auto;
}

.menu-btn-about-company {
  display: flex;
  flex-direction: row;
  width: fit-content;
  padding: 0px 4px;
  cursor: pointer;
  transition: opacity 0.5s ease;
}
.menu-arrow {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url(../img/arrow-down.png) 0 0 / cover no-repeat;
}
.menu-arrow:hover {
  display: block;
  background: url(../img/arrow-up.png) 0 0 / cover no-repeat;
  transform: rotate(180deg);
}
.nav-list__item {
  display: flex;
  flex-direction: column;
}

.submenu__about-company {
  display: block;
  height: 0px;
  overflow: hidden;
  transition: height 0.2s ease-out;
}
.submenu__about-company.submenu__visible {
  display: block;
  height: fit-content;
  overflow: hidden;
  transition: height 0.2s ease-out;
  border-bottom: 1px solid white;
  margin: -10px;
}
@media (min-width: 1000px) {
  .menu-btn-about-company {
    position: relative;
  }
  .submenu__about-company {
    position: fixed;
    width: 120%;
    top: 65px;
    left: 0;
    transition: expandHeight 0.3s ease-in-out;
    color: black;
    border-top: 3px solid white;
    background: black;
    margin-bottom: 10px;  }
  .submenu__about-company.submenu__visible {
    position: fixed;
    width: 120%;
    top: 65px;
    left: 0;
    transition: expandHeight 0.3s ease-in-out;
    color: black;
    background: black;
  }
  @keyframes expandHeight {
    from {
        height: 0px; /* Початкова висота 0px */
    }
    to {
        height: 200px; /* Кінцева висота (фіт-контент) */
    }
}
  .submenu__about-company ul{
    width: 70%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
  }
  .submenu__about-company li{
    margin: 50px 30px;
  }
  .submenu__about-company.submenu__visible a {
    color: white;
  }
}
