
.index-body {
  overflow-x: hidden;
  margin-top: 60px;
}

.index-main-information {
  font-family: "Albert Sans", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: var(--dark-text-color);
}

.header-banner {
  width: 100%;
  height: fit-content;
  padding: 30px;
}

.index-header-banner {
  background: url(../img/index/main-banner.jpg) 0 0 / cover no-repeat;
}

.header-banner h1 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-style: italic;
  font-size: 16px;
  line-height: 25px;
  text-align: justify;
}

@media (min-width:800px) {
  .header-banner h1 {
    font-size: 21px;
    line-height: 33px;
  }
}

@media (min-width:650px) {
  .header-banner h1 {
    flex-direction: row;
  }
}

.header-banner img {
  width: 100px;
  height: auto;
  margin-right: 25px;
  margin-bottom: 10px;
}

@media (min-width:650px) {
  .header-banner img {
    width: 150px;
    height: auto;
    margin-right: 25px;
  }
}

.index__our-values__and-corporate-culture {
  background: url(../img/index/line-background.svg) 0 0 / cover no-repeat;
}

.big__h2 {
  font-size: 38px;
  font-weight: 400;
  font-family: "Philosopher", sans-serif;
  margin: 0px auto;
  padding-top: 50px;
  width: fit-content;
}



