.index-our-culture-document {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 50px;
  max-width: 100%;
}
@media (min-width: 950px) {
  .index-our-culture-document {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 80%;
  }
}

.index-our-culture-document img {
  max-width: 70%;
  height: auto;
  margin: 10px 10px 30px;
}

@media (min-width: 950px) {
  .index-our-culture-document img {
    max-width: 40%;
    margin-right: 35px;
  }
}



.index-our-culture-document__text-title {
  font-size: 34px;
  font-weight: 200;
  font-family: "Philosopher", sans-serif;
  margin: 20px 0px;
  max-width: 100%;
}

@media (min-width: 950px) {
  .index-our-culture-document__text-title {
    padding-top: 0px;
    max-width: 75%;
  }
}
.index-our-culture-document__text-item {
  font-family: "Albert Sans", sans-serif;
  font-size: 17px;
  color: var(--title-text-color);
  max-width: 100%;
  margin-bottom: 20px;
}
@media (min-width: 950px) {
  .index-our-culture-document__text-item {
    max-width: 70%;
  }
}

