.index__approach-to-work {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url(../img/index/line-background.svg);
    min-height: 100%;
}

.index__approach-to-work-line {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 0 auto 50px;
    min-height: 100%;

}

@media (min-width: 800px) {
    .index__approach-to-work-line {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 60%;
        margin: 0 auto 50px;
        height: 350px;
    }
}
.index__approach-to-work-item {
    margin: 0px 0px 30px 0px;
    width: 100%;
    height: auto; 
    box-sizing: border-box;

}

@media (min-width: 800px) {
    .index__approach-to-work-item {
        margin: 0px 20px 0px 0px;
        width: 33.333%;
        height: auto; 
    }
}

.index__approach-to-work-item img {
    display: block;
    width: 100%;
    height: 70%;
    object-fit: cover;
}
@media (min-width:800px) {
    .index__approach-to-work-item:nth-child(1) ,
.index__approach-to-work-item:nth-child(3) {
    max-height: 100%;
}
.index__approach-to-work-item:nth-child(2){
height: 100%;
}
    
}
.index__approach-to-work-item:nth-child(1) ,
.index__approach-to-work-item:nth-child(3) {
    max-height: 80%;
}
.index__approach-to-work-item:nth-child(2){
height: 100%;
}
.index__approach-to-work-item p {
    font-family: "Philosopher", sans-serif;
    color: var(--dark-text-color);
    font-size: 26px;
    margin: 20px auto;
}

.index__approach-to-work .small__h2 {
    width: 60%;
    text-align: left;
    margin: 50px auto 20px;
}
