.index-body {
    overflow-x: hidden;
    margin-top: 60px;
  }
  .index-main-information {
        font-family: "Albert Sans", sans-serif;
      font-weight: 400;
      font-size: 20px;
      color: var(--dark-text-color);
  }
.header-banner {
  width: 100%;
  height: fit-content;
  padding: 30px;
}
.index-header-banner {
  background: url(../img/index/main-banner.jpg) 0 0 / cover no-repeat;
}
.header-banner h1 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-style: italic;
  font-size: 16px;
  line-height: 25px;
  text-align: justify;
}
@media (min-width:800px) {
  .header-banner h1 {
  font-size: 21px;
  line-height: 33px;
  }
}
@media (min-width:650px) {
  .header-banner h1 {
  flex-direction: row;
  }
}
.header-banner img {
  width: 100px;
  height: auto;
  margin-right: 25px;
  margin-bottom: 10px;
}
@media (min-width:650px) {
  .header-banner img {
    width: 150px;
    height: auto;
    margin-right: 25px;
  }
}

.index__our-values__and-corporate-culture {
  background: url(../img/index/line-background.svg ) 0 0 / cover no-repeat;
}
.index-body h2 {
  font-size: 38px;
  font-weight: 400;
  font-family: "Philosopher", sans-serif;
  margin: 0px auto;
  padding-top: 50px;
  width: fit-content;
}
.index__our-values__carousel {
  position: relative;
  margin: auto;
  border: 1px solid red;
  width: 100%;
  overflow: hidden;

}
.index__our-values__carousel-line {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 50px 10px;
  overflow: hidden;
  width: 95%;
  margin: auto;
  border: 1px solid black;
  transition: transform 0.5s ease;
  display: flex;
  position: relative;
  left: 0;
  transition: left 0.5s ease;
}

.carousel__left-arrow {
  display: block;
  position: absolute;
  width: 25px;
  height: 25px;
  top: calc(50% - 15px);
  left: -5px;
  transform: rotate(90deg);
}
.carousel__right-arrow {
  display: block;
  position: absolute;
  width: 25px;
  height: 25px;
  top: calc(50% - 15px);
  right: -5px;
  transform: rotate(270deg);
}
.carousel__left-arrow img, .carousel__right-arrow img {
  width: 100%;
  height: auto;
}
.index__our-values__carousel-card {
  padding: 0 20px;
  background: rgb(247, 247, 245);
  width: calc(100% - 20px);
  margin: 0px 10px;
  flex-shrink: 0; 
  height: var(--max-card-height);
}
@media(min-width:800px) {
  .index__our-values__carousel-card {
    width: calc(50% - 20px);
  }
  }
@media(min-width:1150px) {
.index__our-values__carousel-card {
  width: calc(33.333% - 20px);
}
}
.card__circle {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  margin: auto;
  background: var(--dark-text-color);
  transform: translateY(-50%);
  border-radius: 50%;
}
.card__circle img {
  width: 65%;
  height: auto;
}
.index__our-values__carousel-title {
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 15px;
  font-family: "Philosopher", sans-serif;

}
.index__our-values__carousel-text {
    color: var(--our-values-text-color);
    font-size: 16px;
    font-weight: 100;
    text-align: left;
    margin-bottom: 20px;
}