.information-page-banner {
  background: url(../img/information/information-banner.jfif) 0 0 / cover
    no-repeat;
  height: 100px;
  padding: 75px 0px;
  margin-top: 60px;
}
@media (min-width: 700px) {
  .information-page-banner {
    background: url(../img/information/information-banner.jfif) 0 -200px / cover
      no-repeat;
  }
}
.information-main-information {
  background: url(../img/index/line-background.svg) 0 0 / cover no-repeat;
}

.current-working-information {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  padding: 20px 0px;
}
.current-working-information-img {
  width: 80%;
  height: auto;
  object-fit: cover;
  margin-bottom: 20px;
}
.current-working-information-text .small__h2 {
  border-bottom: 1px solid var(--title-text-color);
  width: 100%;
  padding-bottom: 20px;
}
@media (min-width: 800px) {
  .current-working-information {
    flex-direction: row;
    justify-content: space-between;
    max-width: 700px;
  }
  .current-working-information-reverse {
    flex-direction: row-reverse;
    justify-content: space-between;
    max-width: 700px;
  }
  .current-working-information-img {
    width: 40%;
  }
  .current-working-information-text .small__h2 {
    width: 80%;
  }
}
.current-working-information-item {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: 10% 1fr;
  justify-content: start;
  column-gap: 40px;
  margin: 20px auto;
}
.current-working-information-item {
  column-gap: 40px;
}

.card__circle {
  transform: none;
  margin: 50% 0px;
  grid-row: span 2;
}
@media (min-width: 800px) {
  .card__circle {
    margin: auto 0px;
  }
}
.current-working-information-item p {
  color: var(--dark-text-color);
  font-size: 28px;
  font-weight: 400;
  font-family: "Philosopher", sans-serif;
  width: fit-content;
  margin-bottom: 15px;
}
@media (min-width: 800px) {
  .current-working-information-item p {
    margin-bottom: 10px;
  }
}

.information-page__events {
  background-color: var(--submenu-background-color);
}
.information-page__events .big__h2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.information-page__events .big__h2 img {
  max-width: 70px;
  height: auto;
}
.events__row {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 800px) {
  .events__row {
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    margin: auto;
  }
}

.events__item {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  flex: 1;
}

@media (min-width: 800px) {
  .events__item {
    max-width: 25%;
  }
}
.events__item img {
  width: 50%;
  height: 200px; 
  object-fit: cover; 
  margin-bottom: 15px; 
}
@media (min-width:800px) {
  .events__item img {
    width: 100%;
    height: 200px; 
    object-fit: cover; 
    margin-bottom: 15px; 
  }
}
.events__item__title {
  color: var(--dark-text-color);
  font-size: 28px;
  font-weight: 400;
  font-family: "Philosopher", sans-serif;
  width: fit-content;
  margin-bottom: 15px;
}
.events__item__text {
  font-family: "Albert Sans", sans-serif;
  font-size: 17px;
  color: var(--title-text-color);
  margin-bottom: 15px;
}

.informations__vacancies {
  background: var(--our-team-background);
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width:800px) {
  .informations__vacancies {
    background: var(--our-team-background);
    display: flex;
    flex-direction: row;
  }
}
.informations__vacancies-block {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0px;
}
.informations__vacancies .big__h2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0px;
}
.informations__vacancies .big__h2 img {
  max-width: 70px;
  height: auto;
}
.informations__vacancies img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
@media (min-width:800px) {
.informations__vacancies img {
  width: 65%;
  max-height: 350px;
  height: 100%;
  object-fit: cover;
}
}