.information-page-banner {
  background: url(../img/information/information-banner.jfif) 0 0 / cover
    no-repeat;
  height: 100px;
  padding: 75px 0px;
  margin-top: 60px;
}
@media (min-width: 700px) {
  .information-page-banner {
    background: url(../img/information/information-banner.jfif) 0 -200px / cover
      no-repeat;
  }
}
.information-main-information {
  background: url(../img/index/line-background.svg) 0 0 / cover no-repeat;
}

.current-working-information{
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  padding: 20px 0px;
}
.current-working-information-text {
  width: 80%;
}

.current-working-information-img {
  width: 80%;
  height: auto;
  object-fit: cover;
  margin-bottom: 20px;
}
.current-working-information-text .small__h2 {
  border-bottom: 1px solid var(--title-text-color);
  width: 100%;
  padding-bottom: 20px;
}
@media (min-width: 800px) {
  .current-working-information {
    flex-direction: row;
    justify-content: space-between;
    max-width: 800px;
  }

  .current-working-information-img {
    width: 40%;
  }
  .current-working-information-text .small__h2 {
    width: 80%;
  }
}
.current-working-information-item {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: 10% 1fr;
  justify-content: start;
  column-gap: 40px;
  margin: 20px auto 20px;
}
@media (min-width: 800px) {
  .current-working-information-item {
    column-gap: 20px;
  }
}
.card__circle {
  transform: none;
  margin: 50% 0px;
  grid-row: span 2;
}
@media (min-width: 800px) {
  .card__circle {
    margin: auto 0px;
  }
}
.current-working-information-item p {
  color: var(--dark-text-color);
  font-size: 28px;
  font-weight: 400;
  font-family: "Philosopher", sans-serif;
  width: fit-content;
  margin-bottom: 15px;
}
@media (min-width: 800px) {
  .current-working-information-item p {
    margin-bottom: 10px;
  }
}
