.index-main-information {
  margin-top: 60px;
  background: url(../img/index/line-background.svg) 0 120px / cover no-repeat;
}
.index-main-information-banner {
  background: url(../img/information/information-banner.jfif) 0 0 / cover
    no-repeat;
  height: 100px;
  padding: 75px 0px;
}
@media (min-width: 700px) {
  .index-main-information-banner {
    background: url(../img/information/information-banner.jfif) 0 -200px / cover
      no-repeat;
  }
}
.current-working-information {
  max-width: 100%;
  padding: 50px 20px;
}
@media (min-width: 500px) {
  .current-working-information {
    max-width: 60%;
    margin: auto;
    padding: 50px 20px;
  }
}

.current-working-information {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
@media (min-width: 500px) {
  .current-working-information {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
}
.current-working-information__schedules h2 {
  border-bottom: 1px solid var(--title-text-color);
  min-width: 100%;
  padding-bottom: 20px;
}
.current-working-information__meeting-schedule-item {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: repeat(2, 1fr);
  margin: 0px 50px -50px 0px;
}

.schedule-item__circle {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  margin: auto 0px;
  background: var(--dark-text-color);
  border-radius: 50%;
  grid-row: span 2;
}
.schedule-item__circle img {
  width: 65%;
  height: auto;
}
.current-working-information__meeting-schedule-item p {
  display: inline;
  font-size: 26px;
  margin-bottom: 10px;
}
.current-working-information-img {
 width: 65%;
  height: 400px;
  background: url(../img/information/information-work-info-img.png) 0 0 / cover no-repeat;
}

