:root {
  --light-color: #ffffff;
  --dark-color: #000000;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.overflow-hidden {
  overflow: hidden;
}
.wrapper {
  background: url(../img/index/index-background.jpg) 0 0 / cover no-repeat;
  height: 100vh;
  max-width: 100%;
}
.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px;
  max-width: 90%;
  margin: auto;
  height: 40px;
}
.menu__logo img {
  max-width: 100px;
}
.menu__burger {
  display: block;
  
}
.menu__burger__line {
  display: block;
  width: 24px;
  height: 2px;
  position: relative;
  background-color: var(--light-color);
  transition: all 0.2s ease-out;
}
.menu__burger__line.nav-visible {
  background: transparent;
  transition: all 0s ease-out;
}
.menu__burger__line.nav-visible::before {
  transform: rotate(-45deg);
  top: 0;
  transition: all 0.2s ease-out;
}
.menu__burger__line.nav-visible::after {
    transform: rotate(45deg);
    top: 0;
    transition: all 0.2s ease-out;
  }
.menu__burger__line::before {
  content: "";
  display: block;
  position: absolute;
  top: 7px;
  width: 24px;
  height: 2px;
  background-color: var(--light-color);
  transition: all 0.2s ease-out;

}
.menu__burger__line::after {
  content: "";
  display: block;
  position: absolute;
  top: -7px;
  width: 24px;
  height: 2px;
  background-color: var(--light-color);
  transition: all 0.2s ease-out;

}
@media (min-width: 850px) {
  .menu__burger {
    display: none;
  }
}
.menu__list {
  position: absolute;
  right: auto;
  top: -100vh;
  width: auto;
  gap: 20px 0px;
  color: #ffffff;
  transition: all 0.3s ease-in-out;
}
.menu__list a {
  color: #ffffff;
}
@media (min-width: 850px) {
  .menu__list {
    position: relative;
    top: 0px;
    display: block;
    width: 70%;
    color: #ffffff;
  }
  .menu__list ul {
    top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }
}
.menu__list.nav-visible {
  display: block;
  position: absolute;
  top: 40px;
  right: 20px;
  width: 50%;
  height: calc(100% - 40px);
  transition: all 0.3s ease-in-out;
}
