<!DOCTYPE html>
<html lang="ua">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Avgust.ua</title>
    <link rel="icon" href="/img/logo-small.png" type="image/x-icon">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/aditional-css/corporatives.css">
    <link rel="stylesheet" href="css/aditional-css/charity.css">

    <script src="https://unpkg.com/htmx.org@1.9.10"
        integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
        crossorigin="anonymous"></script>
</head>

<body>


    <header>
        <nav data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="header-nav.partial.html"></nav>
    </header>
    <section class="charity-body">
        <h2 class="big__h2">Благодійність компанії</h2>
        <div class="slider wrapper">
            <div class="slider__item filter">
                <div class="slider__video-container charity-video">
                    <video src="img/charity/01.mp4" class="slider__video charity-video" autoplay loop muted></video>
                </div>
                <p class="index__our-values__carousel-title">Липень 2022</p>
                <p class="index__our-values__carousel-text">
                Цього місяця завдяки вам ми змогли перерахувати <span class="sum-number">40000</span>
                    гривень на допомогу ЗСУ !
                </p>
            </div>
            <div class="slider__item filter">
                <div class="slider__video-container charity-video">
                    <video src="img/charity/02.mp4" class="slider__video charity-video" autoplay loop muted></video>
                </div>
                <p class="index__our-values__carousel-title">Серпень 2022</p>
                <p class="index__our-values__carousel-text">
                Цього місяця - <span class="sum-number">50000</span>
                    гривень у фонд "Повернись Живим" !
                </p>
            </div>
            <div class="slider__item filter">
                <div class="slider__video-container charity-video">
                    <video src="img/charity/03.mp4" class="slider__video charity-video" autoplay loop muted></video>
                </div>
                <p class="index__our-values__carousel-title">Вересень 2022</p>
                <p class="index__our-values__carousel-text">
                Цього місяця перерахували <span class="sum-number">70000</span>
                    гривень на потреби ЗСУ!
                </p>
            </div>
            <div class="slider__item filter">
                <div class="slider__video-container charity-video">
                    <video src="img/charity/04.mp4" class="slider__video charity-video" autoplay loop muted></video>
                </div>
                <p class="index__our-values__carousel-title">Жовтень 2022</p>
                <p class="index__our-values__carousel-text">
                Цього місяця розподілили <span class="sum-number">50000</span>
                    гривень між БО "Сергія Притули" та волонтерами, які займаються ремонтом машин!
                </p>
            </div>
            <div class="slider__item filter">
                <div class="slider__video-container charity-video">
                    <video src="img/charity/05.mp4" class="slider__video charity-video" autoplay loop muted></video>
                </div>
                <p class="index__our-values__carousel-title">Листопад 2022</p>
                <p class="index__our-values__carousel-text">
                Цього місяця розподілили <span class="sum-number">50000</span>
                    гривень на підтримку нашої армії!
                </p>
            </div>
            <div class="slider__item filter">
                <div class="slider__video-container charity-video">
                    <video src="img/charity/06.mp4" class="slider__video charity-video" autoplay loop muted></video>
                </div>
                <p class="index__our-values__carousel-title">Грудень 2022</p>
                <p class="index__our-values__carousel-text">
                Цього місяця розподілили <span class="sum-number">50000</span>
                    гривень на підтримку нашої армії!
                </p>
            </div>
            <div class="slider__item filter">
                <div class="slider__video-container charity-video">
                    <video src="img/charity/07.mp4" class="slider__video charity-video" autoplay loop muted></video>
                </div>
                <p class="index__our-values__carousel-title">Січень 2023</p>
                <p class="index__our-values__carousel-text">
                Цього місяця розподілили <span class="sum-number">50000</span>
                    гривень фонду "Повернись Живим"!
                </p>
            </div>
            <div class="slider__item filter">
                <div class="slider__video-container charity-video">
                    <video src="img/charity/08.mp4" class="slider__video charity-video" autoplay loop muted></video>
                </div>
                <p class="index__our-values__carousel-title">Лютий 2023</p>
                <p class="index__our-values__carousel-text">
                    Ми змогли передати різні види шоломів, нагрудні підсумки, power банки, навушники та кріплення до них.  <span class="sum-number">50000</span>
                    гривень!
                </p>
            </div>
            <div class="slider__item filter">
                <div class="slider__video-container charity-video">
                    <video src="img/charity/09.mp4" class="slider__video charity-video" autoplay loop muted></video>
                </div>
                <p class="index__our-values__carousel-title">Березень 2023</p>
                <p class="index__our-values__carousel-text">
                    Донат у фонд "Повернись Живим"  <span class="sum-number">50000</span>
                    гривень!
                </p>
            </div>
            <div class="slider__item filter">
                <div class="slider__video-container charity-video">
                    <video src="img/charity/10.mp4" class="slider__video charity-video" autoplay loop muted></video>
                </div>
                <p class="index__our-values__carousel-title">Березень 2023</p>
                <p class="index__our-values__carousel-text">
                    Ми придали дрон! 
                </p>
            </div>
            <div class="slider__item filter">
                <div class="slider__video-container charity-video">
                    <video src="img/charity/11.mp4" class="slider__video charity-video" autoplay loop muted></video>
                </div>
                <p class="index__our-values__carousel-title">Квітень 2023</p>
                <p class="index__our-values__carousel-text">
                   Придбано речі на передову на суму  <span class="sum-number">50000</span>
                    гривень!
                </p>
            </div>
            <div class="slider__item filter">
                <div class="slider__video-container charity-video">
                    <video src="img/charity/12.mp4" class="slider__video charity-video" autoplay loop muted></video>
                </div>
                <p class="index__our-values__carousel-title">Травень 2023</p>
                <p class="index__our-values__carousel-text">
                    <span class="sum-number">70000</span>
                    гривень перераховано до БО "Сергія Притули"
                </p>
            </div>
            <div class="slider__item filter">
                <div class="slider__video-container charity-video">
                    <video src="img/charity/13.mp4" class="slider__video charity-video" autoplay loop muted></video>
                </div>
                <p class="index__our-values__carousel-title">Червень 2023</p>
                <p class="index__our-values__carousel-text">
                    <span class="sum-number">30000</span>
                    гривень перераховано до БО "Повернись Живим"
                    та                     <span class="sum-number">40000</span>
                    на купівлю автомобілів.

                </p>
            </div>
            <div class="slider__item filter">
                <div class="slider__video-container charity-video">
                    <video src="img/charity/14.mp4" class="slider__video charity-video" autoplay loop muted></video>
                </div>
                <p class="index__our-values__carousel-title">Липень 2023</p>
                <p class="index__our-values__carousel-text">
                    <span class="sum-number">57000</span>
                    гривень перераховано для закупівлі бронеплит, карематів, спальників, газових плиток та балонів. 
                    <span class="sum-number">15000</span> на придбання авто. 
                    <span class="sum-number">28000</span> у фонд "Повернись Живим". 
                </p>
            </div>
            <div class="slider__item filter">
                <div class="slider__video-container charity-video">
                    <video src="img/charity/15.mp4" class="slider__video charity-video" autoplay loop muted></video>
                </div>
                <p class="index__our-values__carousel-title">Серпень 2023</p>
                <p class="index__our-values__carousel-text">
                    <span class="sum-number">100000</span>
                    гривень перераховано до БО "Сергія Притули"
                </p>
            </div>
            <div class="slider__item filter">
                <div class="slider__video-container charity-video">
                    <video src="img/charity/16.mp4" class="slider__video charity-video" autoplay loop muted></video>
                </div>
                <p class="index__our-values__carousel-title">Вересень 2023</p>
                <p class="index__our-values__carousel-text">
                    <span class="sum-number">103000</span>
                    гривень перераховано до БО "Повернись Живим"
                </p>
            </div>
            <div class="slider__item filter">
                <div class="slider__video-container charity-video">
                    <video src="img/charity/17.mp4" class="slider__video charity-video" autoplay loop muted></video>
                </div>
                <p class="index__our-values__carousel-title">Жовтень 2023</p>
                <p class="index__our-values__carousel-text">
                    <span class="sum-number">50000</span>
                    гривень перераховано до БО "Сергія Притули".
                    <span class="sum-number">35000</span>
                    гривень перераховано на купівлю авто.
                    <span class="sum-number">15000</span>
                    гривень перераховано на купівлю одягу на передову.
                </p>
            </div>
            <div class="slider__item filter">
                <div class="slider__video-container charity-video">
                    <video src="img/charity/18.mp4" class="slider__video charity-video" autoplay loop muted></video>
                </div>
                <p class="index__our-values__carousel-title">Листопад 2023</p>
                <p class="index__our-values__carousel-text">
                    <span class="sum-number">13800</span>
                    гривень перераховано на закупівлю шин.
                    <span class="sum-number">37000</span>
                    гривень перераховано на закупівлю дронів.
                    <span class="sum-number">50000</span>
                    гривень перераховано у фонд "Повернись Живим".
                </p>
            </div>
            <div class="slider__item filter">
                <div class="slider__video-container charity-video">
                    <video src="img/charity/19.mp4" class="slider__video charity-video" autoplay loop muted></video>
                </div>
                <p class="index__our-values__carousel-title">Грудень 2023</p>
                <p class="index__our-values__carousel-text">
                    <span class="sum-number">105319</span>
                    гривень перераховано до БО "Сергія Притули" та БО "Повернись Живим".
                </p>
            </div>
        </div>
        <p class="total-sum">Загальна сума допомоги: <span id="total-sum"></span> гривень.</p>




        <div id="myModal" class="modal">
            <span class="close">&times;</span>
            <img class="modal-content" id="modal-img">
            <video class="modal-content" id="modal-video" controls></video>
        </div>

    </section>
    <footer>
        <!-- <footer data-hx-trigger="load" data-hx-swap="outerHTML" 
        data-hx-get="footer.partial.html"></footer>-->

    </footer>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="js/slick.min.js"></script>
    <script src="js/index.js"></script>
    <script src="js/modal.js"></script>

</body>

</html>