<!DOCTYPE html>
<html lang="ua">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Avgust.ua</title>
    <link rel="icon" href="/img/logo-small.png" type="image/x-icon">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/aditional-css/company-history.css">
    <script src="https://unpkg.com/htmx.org@1.9.10"
        integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
        crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <nav data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="header-nav.partial.html"></nav>
    </header>
    <section class="company-history">
        <h2>Наша історія</h2>
        <div class="company-story-row">
            <div class="story-item">
                <p>1991</p>
                <p>19 серпня 1991 року троє друзів слухали новини і пили за здоров'я Горбачова. На наступний день вони
                    вирішили створити компанію і назвали її "Август". Почали випускати газети, придбали перший вагон
                    газетного паперу і заробили перший мільйон доларів. Незабаром стали одним із двох найбільших
                    постачальників паперу на ринку України.</p>
            </div>
            <div class="story-item">
                <p>2000</p>
                <p>З початком нового століття друзі вирішили розділити бізнес на три компанії, в назві кожної з яких
                    першим словом було "Август". З'явилася "Август Трейд", яка розвивала напрямок дизайнерських паперів
                    і картонів. Взяли кредит, зробили ремонт і відкрили бізнес-центр "Рент Хаус". Купили друкарське
                    обладнання, почали друкувати бланки і книги, видавати газети. Створили видавництво "Консультант".
                    Зайнялися аудиторською діяльністю з компанією "Лоял Консалтинг Аудит". Придбали видавництво листівок
                    "АстраЛайт". Розділили напрями поліграфії і паперу, створили "Август Юэй". Зайняли лідируючі позиції
                    в сегменті дизайнерських картонів і паперів на ринку України.</p>
            </div>
            <div class="story-item">
                <p>2000</p>
                <p>Розробили CRM-продукт для туристичної галузі з
                    компанією "Итериос". У 2020 році відкрили перший поліграфічний ресторан "Картон".</p>
            </div>
        </div>
        <div class="">
            <p>Сьогодні</p>
            <p>На сьогодні група компаній "Август" включає вісім компаній:</p>
            <ul>
                <li> Август Трейд</li>
                <li>Август Юэй</li>
                <li>Рент Хаус</li>
                <li>Лоял Консалтинг Аудит</li>
                <li> Астра Лайт</li>
                <li>Консультант</li>
                <li>Белые воротнички</li>
                <li>Итериос</li>
            </ul>
        </div>
    </section>
    <footer>
        <!-- <footer data-hx-trigger="load" data-hx-swap="outerHTML" 
        data-hx-get="footer.partial.html"></footer>-->

    </footer>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="js/slick.min.js"></script>
    <script src="js/index.js"></script>
    <script src="js/modal.js"></script>

</body>

</html>