<!DOCTYPE html>
<html lang="ua">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Avgust.ua</title>
    <link rel="icon" href="/img/logo-small.png" type="image/x-icon">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/aditional-css/company-history.css">
    <script src="https://unpkg.com/htmx.org@1.9.10"
        integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
        crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <nav data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="header-nav.partial.html"></nav>
    </header>
    <section class="company-history">
        <h1 class="big__h2">Наша історія</h1>
        <div class="company-history-block">
            <img class="company-history-img" src="img/company-story/newspapers-pile.jpg" alt="newspapers-pile">
            <div class="company-history-text">
                <div class="company-history-item">
                    <h2 class="small__h2">
                        <img src="img/index/h2-decor.svg" alt=" decor">
                        Підхід до роботи
                    </h2>
                    <p>Компанія "Август" була заснована 20 серпня 1991 року трьома друзями, які напередодні, 19 серпня,
                        слухали новини і спілкувалися. На наступний день вони створили компанію і назвали її "Август".
                        Першими продуктами компанії стали газети, для виробництва яких було придбано перший вагон
                        газетного паперу.</p>
                </div>
                <img class="company-history-block__bottom-img" src="img/company-story/newspaper.jpg" alt="newspaper">
            </div>
        </div>
        <div class="company-history-block reversed">
            <img class="company-history-img" src="img/company-story/paper.jpg" alt="paper">
            <div class="company-history-text">
                <div class="company-history-item">
                    <h2 class="small__h2">
                        <img src="img/index/h2-decor.svg" alt=" decor">
                        Підхід до роботи
                    </h2>
                    <p>У 1990-х роках компанія "Август" швидко розвивалася і стала одним із двох найбільших
                        постачальників паперу на ринку України. Згодом було придбано частину офісної будівлі і створено
                        компанію "Рент Хаус".
                        З початком нового тисячоліття компанія розділилася на три окремі компанії, кожна з яких отримала
                        назву, починаючи з "Август".
                        Компанія "Август Трейд" спеціалізувалася на дизайнерських паперах і картонах, а також було
                        відкрито бізнес-центр "Рент Хаус" та видавництво "Консультант".
                        Далі були започатковані нові напрямки у поліграфії і паперовій промисловості, що призвело до
                        створення компаній "Август Юэй", "Лоял Консалтинг Аудит", "Астра Лайт".</p>
                </div>
                <img class="company-history-block__bottom-img" src="img/company-story/paper-box.jpg" alt="paper">
            </div>
        </div>
        <div class="company-history-block">
            <img class="company-history-img" src="img/company-story/carton01.jpg" alt="cafe">
            <div class="company-history-text">
                <div class="company-history-item">
                    <h2 class="small__h2">
                        <img src="img/index/h2-decor.svg" alt=" decor">
                        Підхід до роботи
                    </h2>
                    <p>Сьогодні група компаній "Август" є лідером у сегменті дизайнерських картонів і паперів на ринку
                        України. В її склад входять вісім компаній, які успішно розвиваються та розширюють свою
                        діяльність.
                        У 2020 році було відкрито поліграфічний ресторан "Картон", а також розроблено CRM-продукт для
                        туристичної галузі у співпраці з компанією "Итериос".</p>
                </div>
                <img class="company-history-block__bottom-img" src="img/company-story/carton.jpg" alt="cafe">
            </div>
        </div>

    </section>
    <footer>
        <!-- <footer data-hx-trigger="load" data-hx-swap="outerHTML" 
        data-hx-get="footer.partial.html"></footer>-->

    </footer>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="js/slick.min.js"></script>
    <script src="js/index.js"></script>
    <script src="js/modal.js"></script>

</body>

</html>