<!DOCTYPE html>
<html lang="ua">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Avgust.ua</title>
    <link rel="icon" href="/img/logo-small.png" type="image/x-icon">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/aditional-css/corporatives.css">
    <script src="https://unpkg.com/htmx.org@1.9.10"
        integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
        crossorigin="anonymous"></script>
</head>

<body>


    <header>
        <nav data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="header-nav.partial.html"></nav>
    </header>
    <section class="corporatives-body">
        <h2 class="big__h2">Наші корпоративи</h2>
        <div class="corporatives">
            <h2 class="small__h2">
                <img src="img/index/h2-decor.svg" alt=" decor">
                Сплав на байдарках
            </h2>
            <div class="slider wrapper">
                <div class="slider__item">
                    <img src="img/corporatives/rafting/1.jpg" alt="" class="slider__image">
                </div>
                <div class="slider__item">
                    <img src="img/corporatives/rafting/2.jpg" alt="" class="slider__image">
                </div>
                <div class="slider__item">
                    <img src="img/corporatives/rafting/3.jpg" alt="" class="slider__image">
                </div>
                <div class="slider__item">
                    <img src="img/corporatives/rafting/4.jpg" alt="" class="slider__image">
                </div>
                <div class="slider__item">
                    <div class="slider__video-container">
                        <video src="img/corporatives/rafting/5.mp4" class="slider__video"></video>
                        <img class="play-img" src="img/corporatives/play-button.png" aria-label="Play video">
                    </div>
                </div>

            </div>
        </div>
        <div class="corporatives">
            <h2 class="small__h2">
                <img src="img/index/h2-decor.svg" alt=" decor">
                Американська вечірка
            </h2>
            <div class="slider wrapper">
                <div class="slider__item">
                    <img src="img/corporatives/american-party/1.jpg" alt="" class="slider__image">
                </div>
            </div>
        </div>
        <div class="corporatives">
            <h2 class="small__h2">
                <img src="img/index/h2-decor.svg" alt=" decor">
                Мотузковий парк
            </h2>
            <div class="slider wrapper">
                <div class="slider__item">
                    <img src="img/corporatives/rope-park/1.jpg" alt="" class="slider__image">
                </div>
                <div class="slider__item">
                    <div class="slider__video-container">
                        <video src="img/corporatives/rope-park/2.mp4" class="slider__video"></video>
                        <img class="play-img" src="img/corporatives/play-button.png" aria-label="Play video">
                    </div>
                </div>
                <div class="slider__item">
                    <div class="slider__video-container">
                        <video src="img/corporatives/rope-park/3.mp4" class="slider__video"></video>
                        <img class="play-img" src="img/corporatives/play-button.png" aria-label="Play video">
                    </div>
                </div>
                <div class="slider__item">
                    <img src="img/corporatives/rope-park/4.jpg" alt="" class="slider__image">
                </div>
                <div class="slider__item">
                    <img src="img/corporatives/rope-park/5.jpg" alt="" class="slider__image">
                </div>
                <div class="slider__item">
                    <img src="img/corporatives/rope-park/6.jpg" alt="" class="slider__image">
                </div>
                <div class="slider__item">
                    <img src="img/corporatives/rope-park/7.jpg" alt="" class="slider__image">
                </div>
                <div class="slider__item">
                    <img src="img/corporatives/rope-park/8.jpg" alt="" class="slider__image">
                </div>
                <div class="slider__item">
                    <img src="img/corporatives/rope-park/9.jpg" alt="" class="slider__image">
                </div>
                <div class="slider__item">
                    <img src="img/corporatives/rope-park/10.jpg" alt="" class="slider__image">
                </div>
                <div class="slider__item">
                    <div class="slider__video-container">
                        <video src="img/corporatives/rope-park/11.mp4" class="slider__video"></video>
                        <img class="play-img" src="img/corporatives/play-button.png" aria-label="Play video">
                    </div>
                </div>
                <div class="slider__item">
                    <img src="img/corporatives/rope-park/12.jpg" alt="" class="slider__image">
                </div>
                <div class="slider__item">
                    <img src="img/corporatives/rope-park/13.jpg" alt="" class="slider__image">
                </div>
                <div class="slider__item">
                    <img src="img/corporatives/rope-park/14.jpg" alt="" class="slider__image">
                </div>
                <div class="slider__item">
                    <img src="img/corporatives/rope-park/16.jpg" alt="" class="slider__image">
                </div>
                <div class="slider__item">
                    <img src="img/corporatives/rope-park/16.jpg" alt="" class="slider__image">
                </div>

            </div>
        </div>
        <div class="corporatives">
            <h2 class="small__h2">
                <img src="img/index/h2-decor.svg" alt=" decor">
                Боулінг
            </h2>
            <div class="slider wrapper">
                <div class="slider__item">
                    <div class="slider__video-container">
                        <video src="img/corporatives/bowling/5.mp4" class="slider__video"></video>
                        <img class="play-img" src="img/corporatives/play-button.png" aria-label="Play video">
                    </div>
                </div>
                <div class="slider__item">
                    <img src="img/corporatives/bowling/1.jpg" alt="" class="slider__image">
                </div>
                <div class="slider__item">
                    <img src="img/corporatives/bowling/2.jpg" alt="" class="slider__image">
                </div>
                <div class="slider__item">
                    <img src="img/corporatives/bowling/3.jpg" alt="" class="slider__image">
                </div>
                <div class="slider__item">
                    <img src="img/corporatives/bowling/4.jpg" alt="" class="slider__image">
                </div>


            </div>
        </div>



        <div id="myModal" class="modal">
            <span class="close">&times;</span>
            <img class="modal-content" id="modal-img">
            <video class="modal-content" id="modal-video" controls></video>
        </div>

    </section>
    <footer>
        <!-- <footer data-hx-trigger="load" data-hx-swap="outerHTML" 
        data-hx-get="footer.partial.html"></footer>-->

    </footer>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="js/slick.min.js"></script>
    <script src="js/index.js"></script>
    <script src="js/modal.js"></script>

</body>

</html>