<!DOCTYPE html>
<html lang="ua">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Avgust.ua
    </title>
    <link rel="icon" href="/img/logo-small.png" type="image/x-icon">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/aditional-css/education.css">
    <script src="https://unpkg.com/htmx.org@1.9.10"
        integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
        crossorigin="anonymous"></script>
</head>

<body class="education-body">
    <header>
        <nav data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="header-nav.partial.html"></nav>
    </header>
    <section class="">
        <div class="education-page-banner aditional__banner">
            <h1 class="aditional__h1">Навчання</h1>
        </div>
        <div class="accordion-container">
            <div class="set">
                <a class="index__our-values__carousel-title" href="#">
                    ЗАГАЛЬНА ІНФОРМАЦІЯ О КОМПАНІЇ
                    <i class="fa-plus"></i>
                </a>
                <div class="content">
                    <div class="content-wrapper">
                        <p class="index__our-values__carousel-title">Історія компанії</p>
                        <div class="content-btns">
                            <a class="education__buttons" href="documents/education/global/company-history.pdf"
                                target="_blank">Ознайомитись</a>
                            <a class="education__buttons" href="documents/education/global/company-history.pdf"
                                download="">Завантажити</a>
                        </div>
                    </div>
                </div>
                <div class="content">
                    <div class="content-wrapper">
                        <p class="index__our-values__carousel-title">Місія та цінності</p>
                        <div class="content-btns">
                        <a class="education__buttons" href="index.html#our-mission-and-values"
                            target="_blank">Ознайомитись</a>
                        </div>
                    </div>
                </div>
                <div class="content">
                    <div class="content-wrapper">
                        <p class="index__our-values__carousel-title">Поточна структура компанії</p>
                        <div class="content-btns">
                        <a class="education__buttons" href="documents/education/global/structure.pdf"
                            target="_blank">Ознайомитись</a>
                        <a class="education__buttons" href="documents/education/global/structure.pdf"
                            download>Завантажити</a>
                        </div>
                    </div>
                </div>
                <div class="content">
                    <div class="content-wrapper">
                        <p class="index__our-values__carousel-title">Співробітники компанії</p>
                        <div class="content-btns">
                        <a class="education__buttons" href="our-team.html" target="_blank">Ознайомитись</a>
                        </div>
                    </div>
                </div>
                <div class="content">
                    <div class="content-wrapper">
                        <p class="index__our-values__carousel-title">Кодекс корпоративної і професійної етики</p>
                        <div class="content-btns">
                        <a class="education__buttons" href="our-culture-document.html"
                            target="_blank">Ознайомитись</a>
                        </div>
                    </div>
                </div>
                <div class="content">
                    <div class="content-wrapper">
                        <p class="index__our-values__carousel-title">Бізнес-модель</p>
                        <div class="content-btns">
                        <a class="education__buttons" href="documents/education/global/1705680972_Бізнес-модель.pdf"
                            target="_blank">Ознайомитись</a>
                        <a class="education__buttons" href="documents/education/global/1705680972_Бізнес-модель.pdf"
                            download>Завантажити</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </section>
    <footer>
        <!-- <footer data-hx-trigger="load" data-hx-swap="outerHTML" 
        data-hx-get="footer.partial.html"></footer>-->

    </footer>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="js/slick.min.js"></script>
    <script src="js/index.js"></script>
    <script src="js/education-accordeon.js"></script>


</body>

</html>