<!DOCTYPE html>
<html lang="ua">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Avgust.ua
    </title>
    <link rel="icon" href="/img/logo-small.png" type="image/x-icon">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://unpkg.com/htmx.org@1.9.10"
        integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
        crossorigin="anonymous"></script>
</head>

<body class="index-body">
    <header>
        <nav data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="header-nav.partial.html"></nav>
    </header>
    <section class="index-main-information ">
        <div class="header-banner index-header-banner">
            <h1 class="wrapper" id="our-mission-and-values">
                <img src="img/index/mission-decor.png" alt="mission-decor">
                <p>Август – це дружня команда відкритих людей, які прагнуть зробити світ яскравішим. Наша мета – не лише
                    допомагати обрати влучний варіант серед різномаїття дизайнерських паперів, а й заохочувати,
                    надихати, підтримувати найсміливіші ідеї, розкривати таланти і бути поряд з кожним клієнтом на шляху
                    до успіху. </br>
                    З нами творчість виходить за рамки!</p>
            </h1>
        </div>
        <div class="index__our-values__and-corporate-culture" >
            <div class="index__our-values">
                <h2 class="big__h2">Наші цінності</h2>
                <div class="slider wrapper">
                    <div class="slider__item filter">
                        <div class="card__circle">
                            <img src="img/index/professionalism.png" alt="professionalism">
                        </div>
                        <p class="index__our-values__carousel-title">Професіоналізм</p>
                        <p class="index__our-values__carousel-text">особливе властивість людини, що має на меті
                            систематичне, ефективне і надійне виконання
                            складної (професійної) діяльності. Професійна діяльність вимагає тривалого періоду
                            навчання:
                            теоретичного і практичного.</p>
                    </div>
                    <div class="slider__item">
                        <div class="card__circle">
                            <img src="img/index/customer-care.png" alt="customer-care">
                        </div>
                        <p class="index__our-values__carousel-title">Клієнтоорієнтованість</p>
                        <p class="index__our-values__carousel-text">підхід, при якому компанія ставить клієнта, його
                            потреби, вимоги та бажання на перше місце.</p>
                    </div>
                    <div class="slider__item filter">
                        <div class="card__circle">
                            <img src="img/index/interaction.png" alt="interaction">
                        </div>
                        <p class="index__our-values__carousel-title">Взаємодія</p>
                        <p class="index__our-values__carousel-text">процес нашого безпосереднього чи
                            опосередкованого
                            впливу один на одного, що породжує наші взаємні зумовленість і зв'язок.</p>
                    </div>
                    <div class="slider__item">
                        <div class="card__circle">
                            <img src="img/index/partnership.png" alt="partnership">
                        </div>
                        <p class="index__our-values__carousel-title">Партнерство</p>
                        <p class="index__our-values__carousel-text">добровільна угода про співпрацю між двома або
                            більше
                            сторонами, в якій всі учасники домовляються працювати разом для досягнення спільної мети
                            або
                            виконання певного завдання, розділяти ресурси і ризики, відповідальність і
                            правомочність.
                        </p>
                    </div>
                    <div class="slider__item">
                        <div class="card__circle">
                            <img src="img/index/responsibility.png" alt="responsibility">
                        </div>
                        <p class="index__our-values__carousel-title">Відповідальність</p>
                        <p class="index__our-values__carousel-text">свідома здатність людини, групи людей чи
                            компанії
                            адекватно відповісти за те, що доручено або за те, що було взято на себе самостійно. Це
                            усвідомлення суті і значення діяльності та її наслідків.</p>

                    </div>
                    <div class="slider__item">
                        <div class="card__circle">
                            <img src="img/index/innovation.png" alt="innovation">
                        </div>
                        <p class="index__our-values__carousel-title">Інновації</p>
                        <p class="index__our-values__carousel-text">ідея, новітній продукт в галузі техніки,
                            технології,
                            організації праці, управління, а також у інших сферах діяльності.</p>

                    </div>
                    <div class="slider__item">
                        <div class="card__circle">
                            <img src="img/index/creative.png" alt="creative">
                        </div>
                        <p class="index__our-values__carousel-title">Творчість</p>
                        <p class="index__our-values__carousel-text">діяльність, що породжує щось якісно нове і
                            відмінне
                            неповторністю, оригінальністю та унікальністю.</p>
                    </div>

                    <div class="slider__item">
                        <div class="card__circle">
                            <img src="img/index/honesty.png" alt="honesty">
                        </div>
                        <p class="index__our-values__carousel-title">Чесність</p>
                        <p class="index__our-values__carousel-text">це моральна якість, що відображає одну з
                            найважливіших вимог моральності. Включає правдивість, принциповість, вірність взятим
                            зобов'язанням, суб'єктивну переконаність у правоті справи, щирість перед іншими і перед
                            самим собою відносно тих мотивів, якими людина керується, визнання і дотримання прав
                            інших
                            людей.</p>
                    </div>
                </div>
            </div>

            <div class="index-our-culture-document wrapper" id="corporate-culture">
                <img src="img/index/arm-with-paper.jpg" alt="arm-with-paper">
                <div class="index-our-culture-document__text">
                    <h2 class="small__h2">
                        <img src="img/index/h2-decor.svg" alt=" decor">
                        КОРПОРАТИВНА КУЛЬТУРА </br>
                        ТА</br>
                        ПРОФЕСІЙНО-ЕТИЧНИЙ КОД
                    </h2>
                    <p class="index-our-culture-document__text-title">
                        Наші Цінності в Дії
                    </p>
                    <p class="index-our-culture-document__text-item">
                        Наша корпоративна культура відображає наші цінності, підхід до роботи та спосіб спілкування. Ми
                        віримо, що це допомагає нам спільно досягати великих успіхів та втілювати наші амбіційні плани.
                    </p>
                    <div class="btn-wrapper">
                        <a href="our-culture-document.html"><span>Ознайомитись з документом</span></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="index__our-team" id="structure-and-team">
            <img class="index__our-team__photo" src="img/index/our-team.jpg" alt="our-team">
            <div class="index__our-team-info">
                <h2 class="small__h2">
                    <img src="img/index/h2-decor.svg" alt=" decor">
                    Наша команда
                </h2>
                <p class="index__our-team__slogan">Август- це професійна команда відкритих людей, що прагнуть зробити
                    світ яскравішим</p>
                <p class="index__our-team__text">
                    <span>Команда – це наш фундамент.</span> Ми цінуємо взаємозамінність в команді, відносини між
                    співробітником і
                    керівником на рівних. Ми працюємо без перекладання відповідальності та відмов у допомозі один одному
                    і вітаємо виключно здоровий робочий конфлікт, що є чинником нашого розвитку.
                </p>
                <div class="btn-wrapper-light">
                    <a href="our-team.html"><span>Познайомитись з командою</span></a>
                </div>
            </div>

        </div>
        </div>
        <div class="index__avgust-in-numbers" id="history">
            <h2 class="big__h2">
                Август в цифрах
            </h2>
            <div class="index__avgust-in-numbers__numder-line wrapper">
                <div class="index__avgust-in-numbers-item">
                    <div class="card__circle">
                        <img src="img/index/calendar.png" alt="calendar">
                    </div>
                    <div class="counter yearofWork" data-count="yearofWork">0</div>
                    <p class="counter-text">років на ринку</p>
                </div>
                <div class="index__avgust-in-numbers-item">
                    <div class="card__circle">
                        <img src="img/index/team.png" alt="team">
                    </div>
                    <div class="counter emp-counter" data-count="lengthJson">0</div>
                    <p>співробітники</p>
                </div>
                <div class="index__avgust-in-numbers-item">
                    <div class="card__circle">
                        <img src="img/index/client.png" alt="client">
                    </div>
                    <div class="counter" data-count="5000">0</div>
                    <p>клієнтів</p>
                </div>
                <div class="index__avgust-in-numbers-item">
                    <div class="card__circle">
                        <img src="img/index/representative.png" alt="representative">
                    </div>
                    <div class="counter" data-count="5">0</div>
                    <p>представництв</p>
                </div>
            </div>
        </div>
        <div class="index__company-history" >
            <img src="img/index/h2-decor.svg" alt="h2-decor">
            <h2 class="big__h2">
                Історія компанії
            </h2>
            <p>
                Наш шлях розвитку
            </p>
            <div class="btn-wrapper-light">
                <a href="company-history.html"><span> Дізнатсь історію</span></a>
            </div>
        </div>
        <div class="index__approach-to-work" id="scheme-of-work-and-business-model">
             <h2 class="small__h2">
                    <img src="img/index/h2-decor.svg" alt=" decor">
                   Підхід до роботи
                </h2>
            <div class="index__approach-to-work-line">
            <div class="index__approach-to-work-item ">
                
                <img src="img/index/approach-to-work-line-1.jfif" alt="paper">

                <p>Схема роботи</p>
                <div class="btn-wrapper">
                    <a href="default-page.html"><span>Ознайомитись</span></a>
                </div>
            </div>
            <div class="index__approach-to-work-item">
                <img src="img/index/approach-to-work-line-2.jfif" alt="paper">
                <p>Бізнес-модель</p>
                <div class="btn-wrapper">
                    <a href="default-page.html"><span>Ознайомитись</span></a>
                </div>
            </div>
            <div class="index__approach-to-work-item">
                <img src="img/index/approach-to-work-line-3.jfif" alt="paper">
                <p>Стратегія</p>
                <div class="btn-wrapper">
                    <a href="default-page.html"><span>Ознайомитись</span></a>
                </div>
            </div>
        </div>
        </div>
        <div class="index__charity" id="charity">
            <img src="img/index/ukraine.png" alt="ukraine">
            <h2 class="big__h2">
               Благодійність
            </h2>
            <div class="btn-wrapper-light">
                <a href="charity.html"><span> Читати більше</span></a>
            </div>
        </div>
    </section>
    <footer>
       <!-- <footer data-hx-trigger="load" data-hx-swap="outerHTML" 
        data-hx-get="footer.partial.html"></footer>-->

    </footer>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="js/slick.min.js"></script>
    <script src="js/index.js"></script>
    <script type="module" src="js/create-new-education-page.js"></script>

</body>

</html>