.education-page-banner {
  background: url(../../img/education/banner.jpg) 0 0px / cover no-repeat;
  height: 100px;
  padding: 75px 0px;
  margin-top: 60px;
}

@media (min-width: 850px) {
  .education-page-banner {
    background: url(../../img/education/banner.jpg) 0 -400px / cover no-repeat;
  }
}

.accordion-container {
  position: relative;
  height: auto;
  margin: auto;
}

.content:nth-last-child(1):not(.investment-content:last-child) {
  border-bottom: 1px solid var(--submenu-background-color);
  width: 100%;
  padding-bottom: 20px;
}

.aditional-page__our-culture-description {
  font-weight: 400;
  font-size: 20px;
  color: var(--dark-text-color);
  margin-bottom: 20px;
}

.aditional-page__our-culture-description span {
  font-size: 22px;
}

.set {
  position: relative;
  width: 100%;
  height: auto;
}

.set > a {
  display: flex;
  padding: 10px 15px;
  text-decoration: none;
  color: var(--dark-text-color);
  font-weight: 600;
  border-bottom: 1px solid var(--submenu-background-color);
  background-color: var(--submenu-background-color);
  transition: all 0.2s linear;
}

.set > a i {
  float: right;
  margin-top: 2px;
}

.set > a.active {
  background-color: var(--our-values-text-color);
  color: #fff;
}

.content, .investment-content {
  background-color: #fff;
  display: none; /* Ensure content is hidden by default */
  margin: auto;
}

.content p {
  padding: 10px 15px;
  color: #333;
  max-width: 90%;
  text-align: center;
}

/* Default styles */
.content-wrapper {
  display: flex;
  flex-direction: column;
}

@media (min-width: 800px) {
  .content-wrapper {
    flex-direction: row;
  }
}

.content-wrapper p {
  width: 400px;
  margin: 0;
}

.content-btns {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media(min-width: 800px) {
  .content-btns, .investment-content.content-btns {
    justify-content: space-around;
  }

  .content p {
    text-align: left;
  }
}

.content-btns a {
  color: var(--dark-text-color);
  text-transform: lowercase;
}

.fa-plus::before {
  background: url(../../img/menu/arrow-down.png) 0 0 / cover no-repeat;
  content: "";
  position: absolute;
  top: 7px;
  right: 10px;
  height: 20px;
  width: 20px;
  transition: all 0.3s ease-in-out;
}

.fa-minus::before {
  background: url(../../img/menu/arrow-up.png) 0 0 / cover no-repeat;
  content: "";
  position: absolute;
  top: 7px;
  right: 10px;
  height: 20px;
  width: 20px;
  transition: all 0.3s ease-in-out;
  transform: rotate(180deg);
}

.aditional-page__our-culture .btn-wrapper {
  width: 50px;
  height: auto;
}

.aditional-page__our-culture .btn-wrapper a {
  font-size: 12px;
}

.education__buttons {
  position: relative;
  text-decoration: none;
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.education__buttons::after {
  content: '';
  position: absolute;
  top: -2px;
  left: 0;
  width: 0;
  height: 1px;
  background: var(--accent-text-color);
  transition: all 0.3s ease-in-out;
}

.education__buttons:hover::after {
  width: 100%;
}

.education__buttons::before {
  content: '';
  position: absolute;
  bottom: -2px;
  right: 0;
  width: 0;
  height: 1px;
  background: var(--accent-text-color);
  transition: all 0.3s ease-in-out;
}

.education__buttons:hover::before {
  width: 100%;
}

.education-body .index__our-values__carousel-title, .investment-content {
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 0;
  border-bottom: 1px solid var(--our-values-text-color);
}
.content-wrapper .index__our-values__carousel-title-small {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-transform:lowercase;
}
@media (min-width:800px) {
 .content-wrapper .index__our-values__carousel-title-small {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    min-width: fit-content;
  }
}
.education-body .content .index__our-values__carousel-title {
  border-bottom: none;
}

.investment-content {
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

@media (min-width: 800px) {
  .investment-content {
    flex-direction: row;
  }

  .investment-content a {
    padding-left: 0;
  }
}

.investment-content a {
  color: var(--dark-text-color);
  text-transform: lowercase;
}
.investment-content .index__our-values__carousel-title {
  padding-left: 30px;
}
 .set .index__our-values__carousel-title {
    padding-right: 30px;
  }
@media (min-width:800px) {
  .investment-content .index__our-values__carousel-title {
    padding-left: 50px;
  }

}

.index__our-values__carousel-title img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

