.aditional-page__our-team {
    margin: 120px auto;
    max-width: 80%;
}

.employee-conteiner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px;
    overflow: auto;
    height: 900px;
    overflow: scroll;
}

.employee-conteiner .card {
    width: calc(31.333% - 40px); /* Враховуємо відступи */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 20px; /* Однакові відступи для всіх сторін */
}

.employee-conteiner .employee-photo img {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

/* Медіазапити для адаптивного дизайну */

@media (max-width: 1000px) {
    .employee-conteiner .card {
        width: calc(48% - 40px); /* Враховуємо відступи */
    }
}

@media (max-width: 700px) {
    .employee-conteiner .card {
        width: calc(100% - 40px); /* Враховуємо відступи */
    }
}


.employee-info-full.hidden{
    overflow: hidden;
    max-height: 0px; /* Початкова висота нуль, щоб збільшити блок під час розкривання */
    transition: all 0.5s ease-in-out; /* Плавний перехід для висоти і opacity */
}

/* Показати блок з детальною інформацією, коли він активний */
.employee-info-full.active {
    display: block;
    max-height: 200px; /* Встановлюємо auto, щоб блок займав відповідну висоту вмісту */
    transition: all 0.5s ease-in-out; /* Плавний перехід для висоти і opacity */
}
.employee-info-full {
    margin: 10px;
    border-bottom: 2px solid var(--submenu-background-color);
}
.employee-conteiner .big__h2 {
font-size: 24px;
text-align: left;
margin: 10px 0px;
padding: 0;
}
.employee-conteiner .btn-wrapper {
    margin: 10px 0px;
}
.block-25 img {
    display: block;
    max-width: 80%;
    margin: 20px auto;
}

.block-25-h2 {
    font-size: 18px;
    text-align: center;
}

.block-25 h3 {
    font-size: 14px;
    text-align: center;
}

#elastic {
    display: block;
    margin: 40px 0;
}

.text-center {
    text-align: center;
}

.elastic li {
    transition: all ease 500ms;
}

.elastic li.hide {
    display: none;
}

mark {
    background: pink;
}

.button-success a {
    color: #fff;
    text-decoration: none;
}
