.aditional-page__our-team {
     margin: 120px auto;
    max-width: 80%;
}
.employee-conteiner {
    display: flex;
    justify-content: center;
    height: 1000px;
    margin: 20px;
    flex-wrap: wrap;
    overflow: scroll;
}
@media (min-width:1000px) {
    .employee-conteiner {
        justify-content: space-between;
    }
    }
.employee-conteiner.card {
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px;
}
@media (min-width:1000px) {
    .employee-conteiner .card {
        width: 48%;
        display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 400px;

    }
}
@media (min-width:1500px) {
    .employee-conteiner .card {
        width: 31.333%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        height: 400px;

    }
}
.employee-conteiner .employee-photo img {
    width: 200px;
    height: 200px;
    object-fit: cover; /* Додаємо object-fit для відповідного розміщення зображення */
}

.employee-info-full.hidden{
    overflow: hidden;
    max-height: 0px; /* Початкова висота нуль, щоб збільшити блок під час розкривання */
    transition: all 0.5s ease-in-out; /* Плавний перехід для висоти і opacity */
}

/* Показати блок з детальною інформацією, коли він активний */
.employee-info-full.active {
    display: block;
    max-height: 200px; /* Встановлюємо auto, щоб блок займав відповідну висоту вмісту */
    transition: all 0.5s ease-in-out; /* Плавний перехід для висоти і opacity */
}
.employee-info-full {
    margin: 10px;
    border-bottom: 2px solid var(--submenu-background-color);
}
.employee-conteiner .big__h2 {
font-size: 24px;
text-align: left;
margin: 10px 0px;
padding: 0;
}
.employee-conteiner .btn-wrapper {
    margin: 10px 0px;
}